@use '../styles/mixins' as *;
@use '../styles/variables' as *;

html,
body,
.App {
  min-width: 100vw;
  margin: 0;
}

.App {
  max-width: 1400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}