@use '../styles/mixins' as *;
@use '../styles/variables' as *;

* {
  border-color: $brand-color;
}

html

html,
body,
.App {
  margin: 0;
}

.App {
  max-width: 1400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}