@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.Article {
  a {
    @include body-font;
    margin-top: 2rem;
  }
  width: 75%;
  display: flex;
  flex-direction: column;
  .Article__header {
    margin-top: 1rem;
    border-top: $divider;
    border-bottom: $divider;
    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }
  .Article__body {
    display: flex;
    padding-top: 2rem;
    img {
      width: 55%;
    }
    .Article__content {
      margin-left: 2rem;
    }
  }
}