@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.Nav {
  width: 100%;
  box-shadow: $shadow;
  @include true-center;
}

.Nav__link {
  text-decoration: none;
}

h1 {
  @include brand-font;
  font-size: 2.5rem;
  color: $brand-color;
}